.cardContainer {
  max-width: 40000px;
  margin: 10px auto;
  margin-left: 40px;
  margin-top: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  width: 550px;                    

}

.passContainer h2 {
  text-align: justify;
  font-size: 2.5em;
  color: white;
  margin-top: 60px;
  margin-left: 40px;
  font-weight: bold;
}

.passContainer {
  padding: 20px;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 20px;
  padding: 1rem;
  max-width: fit-content;
}

.cardHeader {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  margin: 0;
  padding: 16px;
  font-size: 1.3rem;
  border-bottom: 1px solid #ccc;
  color: white;
}

.cardDates {
  padding: 16px;
}

.cardDates p {
  color: white
}

.benefitsSection {
  padding: 8px 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  color: white;
}

.divider {
  margin: 4px 0 0;
  border: none;
  border-top: 1px solid #999;
}


.bottomSection {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  color: white;
}

.statusActive {
  color: green;
  font-weight: bold;
}

.statusInactive {
  color: red;
  font-weight: bold;
}
/* ---- benefity: dopasowane do stylu kafelka ---- */
.benefitsList {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  padding: 16px;
  border-radius: 4px;
  list-style: none;
  margin: 0;
}

.benefitsList li {
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
  color: white;
}

.benefitsList li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;

}

.buyPassButton{
  margin-left: 40px;
}

/* ---- end button ---- */
.cancelPassButton {
  display: block;          /* wymusza blokowy layout, dzięki czemu można go łatwo wyśrodkować */
  margin-left: 200px;       /* góra/dół 20px, lewo/prawo auto = centrowanie */
  font-size: 1.1rem;       /* większy tekst */
  padding: 12px 24px;
   /* większy obszar kliknięcia */
}
