.container {
    display: flex;
    flex-direction: column;
    margin: auto;

    width: 600px;
    background-color: #111317;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: orange;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: orange;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #EAEAEA;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
    width: auto;
    height: auto;
}

.input input {
    width: 400px;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password:hover span{
    text-decoration: underline;
}

.forgot-password span {
    color: orange;
    cursor: pointer;
}



.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
  position: relative;       
  width: fit-content;      
}


.submit-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 60px;             
  background-color: #797979;
}


.submit {
  z-index: 1;              
  margin: 0 30px;          
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}


.submit.gray {
  background-color: #EAEAEA;
  color: #676767;
}
.submit:not(.gray) {
  background-color: orange;
  color: white;
}
.submit:hover:not(.gray) {
  background-color: rgba(238, 108, 48, 0.8);
}


.container {
  padding-bottom: 20px;
}



.gray {
    background-color: #EAEAEA;
    color: #676767;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 120px;
    height: 60px;
    padding: 5px 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(238, 108, 48, 0.8);
    color: white;
}